@import url(https://fonts.google.com/specimen/Libre+Franklin);
body {
    background: linear-gradient(-45deg, #131313, #04187E, #131313);
    background-size: 800% 800%;
    -webkit-animation: Gradient 120s ease infinite;
    -moz-animation: Gradient 120s ease infinite;
    animation: Gradient 120s ease infinite;
    margin: 0px;
}

.wrapper {
    text-align: center;
}

.loginbutton {
    padding: 15px;
    font-size: 56px;
    border-radius: 15px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
}

.sidebar {
    grid-area: menu;
}

.content {
    grid-area: content;
    position: relative;
    height: auto;

}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}


.header {
    grid-area: header;
}

.wrapper {
    display: grid;
    grid-template-columns: 8% 46% 46%;
    grid-template-areas: "menu header  header" "menu content content";
}

.box {
    color: #fff;
    padding: 20px;
    font-size: 150%;

}

.header {
    background-color: white;
    color: black;
}
.boxmenu {
    background-color: #464646;
    color: white;
    height: 100vh;
    position: fixed;
    width: 8%;
    padding-top: 10px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #E2E2E2;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
        .sidenav a:hover {
            color: navy;
        }
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

#tid-dato {
    padding: 15px;
    max-width: 250px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
#tid {
    font-family: sans-serif;
    font-size: 60px;
    text-shadow: 0 0 3px yellow, 0 0 5px lime;
    color: white;
}
#dato {
    letter-spacing: 10px;
    font-size: 28px;
    font-family: arial,sans-serif;
    color: white;
}

/*


*/
#graphTotal, #graphDeltaker, #graphStreamere, #graphUtstillere, #graphCrew {
    padding-bottom: 20px;
}
#graphDeltaker {
    grid-area: graphDeltaker;
}
#graphStreamere {
    grid-area: graphStreamer;
}
#graphUtstillere {
    grid-area: graphUtstiller;
}
#graphCrew {
    grid-area: graphCrew;
}
#graphTotal {
    grid-area: graphtotal;
}
#siste25Wrapper {
    grid-area: siste25;
}
#graphWrapper {
    margin: 0;
    padding: 0;
    display: grid;
    position: relative;
    grid-template-columns: auto;
    grid-template-areas: "graphtotal graphtotal  graphtotal graphtotal " 
                          "graphDeltaker graphStreamer graphUtstiller graphCrew"
                          "siste25 siste25 siste25 siste25"
}
#siste25Wrapper, #StreamerWrapper {
    border: solid 1px black;
    grid-area: siste25;
    display: grid;
    padding-bottom: 2vh;
    grid-template-columns: 40vw 40vw;
    grid-template-areas: "text text   "
                         "inn ut"
}
    #StreamerWrapper{
        margin-top: 6vh;
    }
    #siste25Inne, #StreamerInn {
        text-align: left;
        grid-area: inn;
        font-size: 60%;
        color: red;
        font-family: "Arial Black", Gadget, sans-serif;
    }
#siste25Ute, #StreamerUte {
    grid-area: ut;
    width: 43vw;
    font-size: 60%;
    text-align: left;
    color: red;
    border-left: solid 2px white;
    font-family: "Arial Black", Gadget, sans-serif;

}
#siste25text {
    grid-area: text;
    margin: 0;
    font-family: "Arial Black", Gadget, sans-serif;

}


ul.last, #StreamerInn, #StreamerUte, #siste25Inne, #siste25Ute {
    list-style-type: none;
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 5px;
}

.liste2 {
    color: black;
    font-size: 50px;
}

#userInfoWrapper {
    align-items: center;
    margin: 0;
    padding: 0;
    display: grid;
    position: relative;
    grid-template-columns: auto;
    grid-template-areas: "temp  userState  "
        "userStatus userStatus  "
        "userManualReg userManualReg  "
        "editUser editUser  "
}
#border {
    border: solid 1px red;
    grid-area: temp;
    width: auto;
    margin: auto;
    grid-template-areas: "userHeader userHeader" "userInfo userInfoSvar ";
}
#userInfo {
    grid-area: userInfo;
    float: left;
    width: auto;
    text-align: left;
}
#test1337{
    grid-area: userInfoSvar;
    float: left;
    margin-left: 2vw;
    text-align: left;
}
.span {
    grid-area: userHeader;
    font-family: 'Libre Franklin ', Open Sans;
    font-weight: bold;
    font-size: 28px;
    -webkit-text-decoration: slateblue solid underline;
    text-decoration: red solid underline;
    -webkit-text-underline-position: auto;
    text-underline-position: auto;
}
#userState {
    grid-area: userState;
    border: solid 1px yellow;
    float: right;
    width: 25vw;
    margin: auto;
    text-align: left;
}
#userStatus {
    margin-top: 50px;
    margin-bottom: 25px;
    grid-area: userStatus;
    border: solid 1px green;
}
#userManualReg {
    margin: auto;
    grid-area: userManualReg;
    border: solid 1px purple;
    width: auto;

}
#loggInniHall {
    margin: auto;
    grid-area: loggInniHall;
    width: 150px;
    border: solid 1px orange;
    border-radius: 25px;
}
#navn, #rad, #sete, #tlf, #ftlf, #erDeltaker, #erUtstiller, #erStreamer, #erCrew, #userStatus {
    list-style: none;
}

#editUser{
    grid-area: editUser;
    font-size: 18px;
    border: solid 1px black;
    display: none;
}
#mainContentUser{
    height: 500px;
    grid-area: user;
}
#editUser {
    grid-area: editUser;
    position: relative;
    width: auto;
    margin: auto;
    color: white;
    padding: 5vh;

}

#crew1, #utstiller1, #streamer1, #deltaker1, #sete1, #rad1, #tlf1, #nick1, #navn1, #id1 {
    list-style: none;
    font-size: 24px;
    font-size: 110%;
    display: inline;
}
#crew1, #utstiller1, #streamer1, #deltaker1{
    -webkit-transform: scale(2); /* Safari and Chrome */
    transform: scale(2);
    padding: 10px;
    margin: 20px;
}
#userWrapper{
    align-items: center;
    margin: 0;
    padding: 0;
    display: grid;
    position: relative;
    grid-template-areas: "user user"
        "editUser editUser";
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}